<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>Administração</title>
        <link rel="manifest" href="/manifest.json">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Laila:wght@300;500&display=swap" rel="stylesheet"> 
        <!-- CODELAB: Add link rel manifest -->
        <link rel="manifest" href="./manifest.json">

        <style>
            .container{
                padding-top: 30px;
            }
            h2{
                font-family: 'Laila', serif;
                font-size: 25px;
                color: azure;
            }
            p{
                font-family: 'Laila', serif;
                font-size: 20px;
                color: azure;
            }
        </style>
    </head>
    <body style="background-color:#ba131a">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html"><img src="./img/logo.png" height="60" width="60"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="receitas.html">Monte do seu jeito <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Produtos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">  
                        <a class="nav-link" href="certificado.html">Certificações <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--
        <div id="menu">
            <ul>
                <li><a href="">Mestre cuca</a></li>
                <li><a href="receitas.html">Monte do seu jeito</a></li>
                <li><a href="">Produtos</a></li>
                <li><a href="certificado.html">Certificaçãoes</a></li>
                <li><a href="">Fale Conosco</a></li>
            </ul>
        </div>
    -->
    <div class="container" >
        <audio controls autoplay>
            <source src="/audio/pizza_mestre_cuca_ep_1.m4a" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <audio controls autoplay>
            <source src="/audio/pizza_mestre_cuca_ep_2.m4a" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <h2>Você já pensou em preparar uma refeição saudável, prática, que seja rápida e do jeitinho que só você entende?</h2>
        <p></p>


        <br>

        <h2>Isso parece impossível pra você? Você acha que comer de forma saudável não tem como ser do seu jeito e prático? Preparar comida em casa leva muito tempo?</h2>


        <br>
        <div style="margin-left: 330px;">
            <a href="http://picasion.com/">
                <img src="http://i.picasion.com/pic90/24a2d46f6f085eb916b60954793f3bc2.gif" width="400" height="400" border="0" alt="http://picasion.com/" />
            </a><br />
            <a href="http://picasion.com/">http://picasion.com/</a>
        </div>
        <br>

        <h2>Então você precisa conhecer os kits para pizza Mestre Cuca!!!</h2>

        <br>

        <p>São vários tipos de massa e recheios, semi-prontos, que você tem a liberdade de escolher quais quiser e ao chegar em casa apenas precisa colocar os recheios na massa da pizza, que já vem em uma forma cartonada própria para assar, colocar no formo e assionar o cronômetro que irá enviar uma notificação na hora de tirar a pizza!</p>

        <br>

        <p>Além disso, é muito fácil comprar! Você encontra no supermercado ou nos aplicativos de nossos parceiros, que você pode pedir e receber sem sair de casa.</p>

        <br>

        <h2>E para quem são esses kits?</h2>

        <br>

        <p>Para todos que procuram uma refeição diferenciada, para fazer em casa, de forma prática e rápida</p>

        <br>

        <p>São feitos para comer em família: pode preparar de diferentes formas dependendo do gosto de cada um</p>
        <br>
        <p>Para quem mora sozinho: pode preparar sem muito trabalho, e com necessidades mínimas!</p>
        <br>
        <p>Para reunir os amigos: está pensando em preparar uma refeição com os amigos e mostrar que você é o mestre cuca? Está é a opção perfeita! </p>
        <!--
        <div id="app">
            <h1 v-bind:title="title">{{ message }}</h1>

            <input type="text" v-model="message">    
            <button v-on:click="contar" class="btn btn-primary" >clique</button>
            <button v-on:click="retirar_lista" class="btn btn-primary" >retirar</button>
            <ul>
                <li style="list-style: none;" v-for="todo in todos">{{ todo.text }}</li>
            </ul>

            <p>Digite um site para visitar:
                <a v-bind:href="url" target="true"> {{ url_tex }}</a>
            </p>
            <input type="text" v-model="url">
            <button v-on:click="visitar" class="btn btn-primary" >limpar</button>
        </div>

    -->
            
    </div>

        
        
        <script src="" async defer></script>
        <script>
// CODELAB: Register service worker.
if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    //navigator.serviceWorker.register('/pizzasmestrecuca/service-worker.js')
    navigator.serviceWorker.register('/pizzasmestrecuca/service-worker.js', {scope: '/pizzasmestrecuca/'})
        .then((reg) => {
          console.log('Service worker registered.', reg);
        });
  });
}
        </script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
//            var app = new Vue({
//                el: '#app',
//                data: {
//                message: 'Hello Vue!',
//                title:"manoela",
//                url:"",
//                url_tex:"",
//                todos:[
//                    {text:"gustavo"},
//                    {text:"garcia"},
//                    {text:"pereira"},
//                ]
//                },
//                methods:{
//                    contar:function(){
//                        //this.message = "gustavo"
//                        this.todos.push({text:this.message})
//                    },
//                    retirar_lista:function(){
//                        this.todos.pop({text:this.message})
//                    },
//                    visitar:function(){
//                        this.url_tex = this.url
//                    }
//                }
//            })
        </script>
        <script src="https://cdn.gravitec.net/storage/d79abbb381358e7d6cde58aba8a5f1aa/client.js" async></script>

    </body>
</html>